beo,browsers.evolt.org,ftp://browsers.evolt.org,us,evolters,webmaster@evolt.org
zensoft,zensoft,http://mirrors.zensoft.net/browsers.evolt.org,uk,William Anderson,neuro@well.com
phatpipe1,non existent phatpipe mirror,http://phat.pipe/mirrors/browsers.evolt.org,tv,Someone,bloke@phat.pipe
phatpipe2,another phatpipe mirror,http://phat2.pipe2/mirrors/browsers.evolt.org,jp,Someone Else,bloke@phat2.pipe2
