/* isaac.css author: isaac */

/* updated by: Mishka/Jeff - Nov. 18, 2001
added abbr, acronym, .help
added link classes for pagetitle1 and pagetitle2
added "active" state classes for all links 
fixed bug under a.title:visited where the comment wasn't closed properly 
modified .border class to be all edges 
added colour classes to title links 

updated by: Mishka - Nov. 29, 2001
changed all links from this format "a.title:link" to ".title a:link" format, applied to .side, .title, .pagetitle1, pagetitle2, tabtextnav - eliminates requirement for styling of all links within a container already declared.
added h2.title, to be used for the home page title links, more semantically correct now; can probably delete strong.title class now, but left it for the time being. 

updated by: Mishka - Jan. 3, 2002
added .ratingOn and .ratingOff classes for the ratings bar.

updated by: Mishka - Feb. 20, 2002
added table.data to allow for a single border on tables.
changed code, .code and pre to font-size : 100% (from 10px) to fix a NS6.x bug in rendering code too small. 
*/


body		{	background : #4F5C38 ;					/* BodyBackgroundColor , BodyBackgroundImage */
				font-family : Verdana, Arial, Helvetica, sans-serif ;	/* BodyTextFace */
				font-size : 11px ; 					/* BodyTextSize (include units) */
				line-height : 130% ;					/* BodyTextLeading (as %) */
        margin: 0px;
				/*margin-top : 3% ;*/					/* BodyVerticalMargin (include units) */
				/*margin-bottom : 3% ;*/					/* BodyVerticalMargin (include units) */
				/*margin-left : 5% ;*/					/* BodyHorizontalMargin (include units) */
				/*margin-right : 5% ;*/ }					/* BodyHorizontalMargin (include units) */

.donationHeader {
  background-color: #3c452c;
  color: #c8cfc6;
  font-size: 11px;
}

.donationHeader div {
  background-color: #3c452c;
  color: #c8cfc6;
  font-size: 11px;
}

.donationHeader a:link, .donationHeader a:visited, .donationHeader a:hover, .donationHeader a:active {
  color: #c8cfc6;
  font-size: 10px;
  text-decoration: underline;
}

.donationHeaderChartBG {
  background-color: #9aa486;
  color: #ffffff;
  border: 1px solid #000000;
  font-size: 9px;
  font-weight: bold;
}

.donationHeaderChartFG {
  background-color: #ffffff;
  color: #9aa486;
  font-size: 9px;
  font-weight: bold;
}
        
form {
  margin: 0px;
}
        
input, select, textarea { 
	    	font-family : Arial, Helvetica, sans-serif ; 		/* FormTextFace */
			font-size : 11px ;					/* FormTextSize (include units) */
			margin-top : 3px ;					/* FormVerticalMargin (include units) */
			margin-bottom : 3px ;					/* FormVerticalMargin (include units) */
			background : #ffffff ;					/* FormBGColor */
			color : #000000 ; }					/* FormTextColor */

td,th,tfoot,div	{  	font-family : Verdana, Arial, Helvetica, sans-serif ;	/* as BodyTextFace */
					font-size : 12px ;					/* as BodyTextSize (include units) */
					color : #333333 ; }					/* PrimaryTextColor */

/* td.content	{	line-height : 130% ; } */				/* as BodyTextLeading (as %) */

strong.title	{	font-weight : bold ;					/* -- */
					font-family : Verdana, Arial, Helvetica, sans-serif ;	/* as BodyTextFace */
					font-size : 15px ; }					/* as H3TextSize (include units) */

b, strong	{	font-weight : bold ; }					/* -- */

cite		{	font-style : normal ; }					/* -- */

i, em		{	font-style : italic ; }					/* -- */

u		{	text-decoration : underline ; }				/* -- */

hr		{	color : #000000 ;					/* HRColor */
			height : 1px ; }					/* -- */

h1		{	font-family : Arial, Helvetica, sans-serif ;		/* H1TextFace */
			font-size : 20px ;					/* H1TextSize (include units) */
			margin-bottom : 5px ; }					/* as 1/4 H1TextSize */

h2		{	font-family : Arial, Helvetica, sans-serif ;		/* H2TextFace */
			font-size : 16px ; }					/* H2TextSize (include units) */

h2.title	{	font-weight : bold ;					/* -- */
				font-size : 16px ; 					/* as H3TextSize (include units) */
				font-family : Verdana, Arial, Helvetica, sans-serif ; /* as BodyTextFace */
				margin-top : 0px ; 					/* -- */
				margin-bottom : 0px ; }					/* as 1/5 H3TextSize (include units) */

h3		{	font-family : Arial, Helvetica, sans-serif ;		/* H3TextFace */
			font-size : 15px ; }					/* H3TextSize (include units) */

h3.title	{	font-weight : bold ;					/* -- */
				font-size : 15px ; 					/* as H3TextSize (include units) */
				font-family : Verdana, Arial, Helvetica, sans-serif ;	/* as BodyTextFace */
				margin-top : 0px ; 					/* -- */
				margin-bottom : 3px ; }					/* as 1/5 H3TextSize (include units) */

h4		{	font-family : Arial, Helvetica, sans-serif ;		/* H4TextFace */
			font-size : 13px ; }					/* H4TextSize (include units) */

h5		{	font-family : Arial, Helvetica, sans-serif ;		/* H5TextFace */
			font-size : 13px ; 					/* as H4TextSize (include units) */
			margin-left : 10px ; }                                   /* H5MarginIndent */

h6		{	font-family : Arial, Helvetica, sans-serif ;		/* H6TextFace */
			font-size : 13px ; 					/* as H4TextSize (include units) */
			margin-left : 20px ; }                                   /* H6MarginIndent */

code		{	font-family : Courier, "Courier New", fixed-width ;	/* CodeTextFace */
				font-size : 100% ;					/* CodeTextSize (include units) */
				color : #333333 ; }					/* CodeTextColor */

pre		{	font-family : Courier, "Courier New", fixed-width ;	/* as CodeTextFace */
				font-size : 100% ;					/* as CodeTextSize (include units) */
				color : #333333 ;					/* as CodeTextColor */
				line-height : 140% ; }					/* CodeTextLeading */

.code		{	background-color : #C8CFC6 ;				/* as MainBGColor */
				font-family : Courier, "Courier New", fixed-width ;	/* as CodeTextFace */
				font-size : 100% ;					/* as CodeTextSize (include units) */
				color : #333333 ; }					/* as CodeTextColor */

.comment	{	font-family : Courier, "Courier New", fixed-width ;	/* as CodeTextFace */
					font-size : 10px ;					/* as CodeTextSize (include units) */
					background : #ffffff ;					/* FormBGColor */
					color : #000000 ; }					/* FormTextColor */

.error          {    font-size : 10px ;              /* ErrorTextSize (include units) */
                        color : #CC3333 ; }                /* ErrorTextColor */

abbr, acronym, .help	{	border-bottom : 1px dotted #333333 ;	}		/* as PrimaryTextColor */

.smalltext	{	font-size : 10px ; }					/* SmallTextSize (include units) */

.main		{	background-color : #C8CFC6 ;				/* MainBGColor */
					line-height : 130% ; }					/* as BodyTextLeading (as %) */

.border		{	background: #9AA486 ;					/* as SidebarBGColor */
					border: 1px solid #000000 ;	}		/* SidebarBorderColor */

.side		{	background : #9AA486 ;					/* SidebarBGColor */
				font-family : Verdana, Arial, Helvetica, sans-serif ;	/* SidebarTextFace */
				font-size : 11px ;					/* SidebarTextSize (include units) */
				line-height : 120% ;					/* SidebarTextLeading (as %) */
				color : #D5DBD4 ; }					/* SidebarTextColor */

.blackBorder	{	border : 1px solid #000000 ; }				/* Leave as BLACK */

.blackSides	{	border-left : 1px solid #000000 ;			/* Leave as BLACK */
						border-right : 1px solid #000000 ; }		/* Leave as BLACK */	

.pageTitle1	{	background-color : #D5DBD4 ;				/* PageTitleBGColor */
						color : #9AA486 ; }					/* as SidebarBGColor */

.pageTitle2	{	background-color : #C8CFC6 ;				/* as MainBGColor */
						color : #9AA486 ; }					/* as SidebarBGColor */

.footer		{	background-color : #000000 ;				/* -- */
					color : #ffffff ; }					/* -- */

.ratingOn		{ background : #9AA486 ;     /* RatingBGColor */
				  border-color: #000000 ;     /* RatingBorderColor */
				  border-style: solid ; }                /*-- */

.ratingOff		{ border-color: #000000 ;     /* asRatingBorderColor */
					  border-style: solid ; }                /*-- */

table.data  {
        border-top: 1px solid #000000 ;		/* as SidebarBorderColor */
        border-right: 0px ;							/* -- */
        border-bottom: 0px ;						/* -- */
        border-left: 1px solid #000000 ; }	/* as SidebarBorderColor */


      table.data th, table.data td {
        border-top: 0px ;								/* -- */
        border-right: 1px solid #000000 ;		/* as SidebarBorderColor */
        border-bottom: 1px solid #000000 ;		/* as SidebarBorderColor */
        border-left: 0px ;								/* -- */
		padding: 3px 3px 3px 3px ;	}				/* -- */


/* -- MAIN CONTENT LINKS -- */

a:link		{	text-decoration : underline ;				/* -- */
				color : #000000 ; }					/* ContentLinkUnvisitedColor */

a:visited	{	text-decoration : underline ; 				/* -- */
					color : #666666 ; }					/* ContentLinkVisitedColor */


a:hover		{	text-decoration : underline ; 				/* -- */
					color : #000000 ; }					/* ContentLinkHoverColor */

a:active	{	text-decoration : underline ; 				/* -- */
				color : #666666 ; }					/* ContentLinkActiveColor */


/* -- SIDEBAR LINKS -- */

.side a:link	{	text-decoration : none ; 				/* -- */
						color : #333333 ; }					/* SidebarLinkUnvisitedColor */

.side a:visited {	text-decoration : none ; 				/* -- */
							color : #666666 ; }					/* SidebarLinkVisitedColor */

.side a:hover	{	text-decoration : underline ; 				/* -- */
							color : #000000 ; }					/* SidebarLinkHoverColor */

.side a:active {	text-decoration : none ; 				/* -- */
							color : #666666 ; }					/* SidebarLinkActiveColor */


/* -- TOP OF PAGE LINKS AND PIPE COLOR -- */

.tabtextnav { color : #000000 ; }					/* TabTextStatic (text nav above black bar, pipes only) */

.tabtextnav a:link {	text-decoration : none ; 				/* -- */
							font-size : 11px ;					/* TabLinkFontSize */
							color : #C8CFC6 ; }					/* TabLinkUnvisitedColor */

.tabtextnav a:visited {	text-decoration : none ; 				/* -- */
								font-size : 11px ;					/* TabLinkFontSize */
								color : #C8CFC6 ; }					/* TabLinkVisitedColor */

.tabtextnav a:hover {	text-decoration : underline ; 				/* -- */
								font-size : 11px ;					/* TabLinkFontSize */
								color : #C8CFC6 ; }					/* TabLinkHoverColor */

.tabtextnav a:active {	text-decoration : none ; 				/* -- */
								font-size : 11px ;					/* TabLinkFontSize */
								color : #C8CFC6 ; }					/* TabLinkActiveColor */


/* -- TITLE LINKS ON HOME PAGE -- */

.title a:link	{	text-decoration : none ;				/* HomePageArticleTitleUnvisitedLink */
					font-weight : bold ;					/* -- */
					font-family : Verdana, Arial, Helvetica, sans-serif ;	/* as BodyTextFace */
					font-size : 15px ; 					/* as H3TextSize (include units) */
					color : #000000 ; }					/* as ContentLinkUnvisitedColor */

.title a:visited	{	text-decoration : none ;				/* HomePageArticleTitleVisitedLink */
						font-weight : bold ;					/* -- */
						font-family : Verdana, Arial, Helvetica, sans-serif ;	/* as BodyTextFace */
						font-size : 15px ;				/* as H3TextSize (include units) */
						color : #666666 ; }				/* as ContentLinkVisitedColor */

.title a:hover	{	text-decoration : underline ;	/* HomePageArticleTitleHoverLink */
						font-weight : bold ;					/* -- */
						font-family : Verdana, Arial, Helvetica, sans-serif ;	/* as BodyTextFace */
						font-size : 15px ; 					/* as H3TextSize (include units) */
						color : #000000 ; }					/* as ContentLinkHoverColor */

.title a:active	{	text-decoration : none ;				/* HomePageArticleTitleActiveLink */
						font-weight : bold ;					/* -- */
						font-family : Verdana, Arial, Helvetica, sans-serif ;	/* as BodyTextFace */
						font-size : 15px ;				/* as H3TextSize (include units) */
						color : #666666 ; }				/* as ContentLinkActiveColor */


/* -- PAGE TITLE 1 LINKS (LEFT CONTENT CELL) -- */


.pageTitle1 a:link {	color: #000000 ;						/* PageTitle1LinkUnvisitedColor */
							text-decoration: none ; }			/* -- */

.pageTitle1 a:visited {	color: #666666 ;					/* PageTitle1LinkVisitedColor */
								text-decoration: none ; }		/* -- */

.pageTitle1 a:hover {  color: #000000 ;					/* PageTitle1LinkHoverColor */
								text-decoration: none; }		/* -- */

.pageTitle1 a:active {	color: #666666 ;					/* PageTitle1LinkActiveColor */
								text-decoration: none ; }		/* -- */


/* -- PAGE TITLE 2 LINKS (CENTER CONTENT CELL) -- */

.pageTitle2 a:link {	color: #000000 ;						/* PageTitle2LinkUnvisitedColor */
							text-decoration: none ; }			/* -- */

.pageTitle2 a:visited {	color: #666666 ;					/* PageTitle2LinkVisitedColor */
								text-decoration: none ; }		/* -- */

.pageTitle2 a:hover {  color: #000000 ;					/* PageTitle2LinkHoverColor */
								text-decoration: none; }		/* -- */

.pageTitle2 a:active {	color: #666666 ;					/* PageTitle2LinkActiveColor */
								text-decoration: none ; }		/* -- */
